/* 
  This CSS sheet follows mobile first development. 
  Styles above the media queries will be for the mobile version, 
  and the media queries handle breakpoints.
*/

:root {
  --text-font-size: 14pt;
  --primary-color: #111215;
  --text-color: white;
  --color-2: rgb(68, 229, 213);
  --project-card-background-color: #2a2b2b;

  --main-side-padding: 20px;
  --footer-icon-spacing: 20px;

  --project-card-side-padding: 30px;
  --inspiration-card-padding: 15px;
}

/* General styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Trebuchet MS';
}

nav {
  padding: 0;
}

/* remove list defaults */
nav menu,
.project-skills-list {
  margin: 0;
  padding: 0;
}

nav menu li,
.project-skills-list li {
  list-style-type: none;
}

header {
  min-height: 35vh;
  margin-top: 5vh;
  display: flex;
  padding: 10px 30px;
}

header p {
  margin: 0;

  font-size: 20px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 40pt;
}

header p {
  max-width: 500px;
}

main {
  padding: 0 var(--main-side-padding);
}

footer {
  padding: 20px 30px;
}

footer h1 {
  margin: 0 0 25px 0;
}

a {
  color: var(--color-2);
}

figure {
  margin: 0;
}

/* Layout classes */

.flex-col {
  display: flex;
  flex-direction: column;
}

.contained-img-wrapper,
.contained-img {
  display: block;
  width: 100%;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* classes named row-[breakpoint] go to row display when reaching that breakpoint. */
.row-narrow,
.row-wide,
.row-large {
  display: flex;
  flex-direction: column;
}

/* Visibility classes */

.hidden {
  display: none;
}

/* Component classes */

.logo {
  color: var(--color-2);
  font-size: 20pt;

  text-decoration: none;
}

.nav-link {
  display: block;
  color: white;
  padding: 12px 24px;

  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-2);
}

.nav-links-container .active {
  /* make current page appear different color on navbar */
  color: var(--color-2);
}

.logo-hamburger-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;
}

/* Hamburger button styles */
.ham-btn-container {
  display: flex;
  align-items: center;
}

.hamburger-btn {
  width: 25px;
  padding: 0;

  background-color: black;
  border: none;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.hamburger-ingredient-container {
  display: flex;
  flex-direction: column;
}

.hamburger-ingredient-container span {
  width: 100%;
  height: 2.5px;
  background-color: white;
}

.hamburger-ingredient-container span:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger-btn:hover .hamburger-ingredient-container span {
  background-color: var(--color-2);
}

/* Project styles */
.project-cards-container {
  display: flex;
  flex-direction: column;

  gap: 40px 0px;
}

.project-cards-container .row-large {
  gap: 40px 0px;
}

.project-card {
  background-color: var(--project-card-background-color);
}

.project-card-child {
  display: flex;
  flex-direction: column;

  padding: 20px var(--project-card-side-padding) 20px;
}

.project-card-child>*:not(:last-child) {
  margin-bottom: 20px;
}

.project-img-container {
  border-bottom: 3px solid white;
}

.project-desc-container {
  margin-bottom: 20px;
}

.project-desc-container h3 {
  margin: 0 0 22px 0;
  font-size: 20pt;
}

.project-desc-container p {
  margin: 0;
  max-width: 550px;

  color: #d2d2d2;
  font-size: var(--text-font-size);
}

/* Project skill markers */
.project-skills-container {
  margin-left: auto;
}

.project-skills-list {
  /* display: flex; */
  align-items: flex-start;
}

.skill-marker {
  display: inline-block;

  margin-left: auto;
  border-radius: 10px;
  padding: 4px 12px;

  background-color: transparent;
  color: white;

  font-family: monospace;
  font-size: 12pt;
}

.skill-marker:not(:first-child) {
  margin-top: 8px;
}

.python-marker {
  border: 2px solid greenyellow;
}

.js-marker {
  border: 2px solid orange;
}

.sheets-marker {
  border: 2px solid rgb(2, 168, 2);
}

.jupyter-marker {
  border: 2px solid #DA5B0B;
}

.html-marker {
  border: 2px solid #da0b0b;
}

.css-marker {
  border: 2px solid #0bb1da;
}

.latex-marker {
  border: 2px solid #dad00b;
}

.ocaml-marker {
  border: 2px solid #0b50da;
}

/* Project buttons */
.project-action-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-link {
  display: inline-block;

  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 8px 12px;

  text-decoration: none;

  font-size: var(--text-font-size);

  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-link:hover {
  background-color: white;
  color: black;
}

.btn-link:not(:first-child) {
  margin-top: 10px;
}

.project-section-action-container {
  margin-top: 40px;
}

/* About styles */

.about-header {
  display: flex;
  flex-direction: column;
}

.action-btn-container {
  margin-top: 20px;
}

.role-title-text {
  font-size: 20pt;
  color: #d2d2d2;
}

.about-header-txt h1 {
  margin: 0;
}

.about-header-txt {
  margin-bottom: 20px;
}

/* Feature cards */
.feature-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.feature-card {
  max-width: 550px;
  padding: 15px;

  background-color: var(--project-card-background-color);
  border-left: 5px solid var(--color-2);
}

.feature-card p {
  margin-bottom: 0;
}

/* Inspiration cards */
.inspiration-card-container {
  display: flex;
  flex-direction: column;

  gap: 40px 0;
}

.inspiration-card {
  display: flex;
  flex-direction: column;

  border: 2px solid rgb(164, 164, 164);
}

.insp-card-child {
  padding: var(--inspiration-card-padding);
}

.inspiration-card figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inspiration-card img {
  height: 250px;
}

.insp-card-child .title-link {
  text-decoration: none;
}

.insp-card-child h3 {
  margin: 0;
  font-size: 20pt;
}

.insp-desc-wrapper p {
  margin-bottom: 0;
  font-size: var(--text-font-size);
}

.insp-card-child .title-link:hover {
  color: var(--text-color);
}

/* Footer image styles */
.social-icons-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.social-icons-container li {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

.social-icons-container li:not(:last-child) {
  margin-right: var(--footer-icon-spacing);
}

.social-icon-link {
  height: 40px;
  width: 40px;
}

.social-icon-wrapper,
.social-icon {
  display: block;
  width: 100%;
}

.sidenotes {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .project-card {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* narrow screen breakpoint */
@media (min-width: 768px) {
  address div {
    width: 50%;
    flex-grow: 1;
  }

  address div:first-child {
    border-right: 1px solid white;
  }

  address div:last-child {
    margin-left: 15px;
  }

  .nav-link:hover {
    border-bottom: 2px solid var(--color-2);
  }

  .skill-marker:not(:first-child) {
    margin-top: 0;
    margin-left: 8px;
  }

  .row-narrow {
    flex-direction: row;
  }

  .nav-container {
    justify-content: space-between;
  }

  .ham-btn-container {
    display: none;
  }

  .nav-links-container {
    align-items: center;
  }

  .project-desc-container p {
    max-width: 100%;
  }

  .project-card {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
  }

  .inspiration-card {
    flex-direction: row;
  }

  .insp-card-child {
    width: 50%;
    padding: var(--inspiration-card-padding);
  }

  .header-content-container>* {
    padding: 10px;
  }

  .about-header-txt {
    margin-bottom: 0;
  }
}

/* wide screen breakpoint */
@media (min-width: 900px) {
  .row-wide {
    flex-direction: row;
  }
}

/* framing width breakpoint */
@media (min-width: 1150px) {
  .frame-wrapper {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
  }

  .project-cards-container .row-large {
    flex-direction: row;
    gap: 0 40px;
  }

  .project-cards-container {
    gap: 40px 0;
  }

  .project-card {
    width: 50%;
    margin: 0;
    flex-grow: 1;
  }

  .project-card:not(:last-child) {
    margin-bottom: 0;
  }
}