/* 
  This CSS sheet follows mobile first development. 
  Styles above the media queries will be for the mobile version, 
  and the media queries handle breakpoints.
*/

:root {
  /*  "Brush Script MT", cursive, */
  --text-font-size: 14pt;
  --primary-color: #111215;
  --text-color: white;
  --color-2: rgb(68, 229, 213);
  --project-card-background-color: #2a2b2b;

  --main-side-padding: 20px;
  --footer-icon-spacing: 20px;

  --project-card-side-padding: 40px;
}

/* General styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Trebuchet MS';
}

nav {
  padding: 0;
}

nav menu {
  margin: 0;
  padding: 0;
}

nav menu li {
  list-style-type: none;
}

header {
  height: 50vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

header p {
  margin: 0;

  font-size: 20px;
}

header h1 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 40pt;
}

header p {
  max-width: 500px;
}

main {
  padding: 0 var(--main-side-padding);
}

footer {
  padding: 20px 30px;
}

footer h1 {
  margin: 0 0 25px 0;
}

a {
  color: var(--color-2);
}

/* Layout classes */

.flex-col {
  display: flex;
  flex-direction: column;
}

/* classes named row-[breakpoint] go to column display when reaching that breakpoint. */
.row-narrow,
.row-wide {
  display: flex;
  flex-direction: column;
}

/* Visibility classes */

.hidden {
  display: none;
}

/* Component classes */

.logo {
  color: var(--color-2);
  font-size: 20pt;

  text-decoration: none;
}

.nav-link {
  display: block;
  color: white;
  padding: 12px 24px;

  text-decoration: none;
}

.nav-link:hover {
  /* add this effect later */
  /* border-bottom: 1px solid var(--color-2); */
  color: var(--color-2);
}

.nav-links-container .active {
  /* make current page appear different color on navbar */
  color: var(--color-2);
}

.logo-hamburger-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;
}

/* Hamburger button styles */
.ham-btn-container {
  display: flex;
  align-items: center;
}

.hamburger-btn {
  width: 25px;
  padding: 0;

  background-color: black;
  border: none;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.hamburger-ingredient-container {
  display: flex;
  flex-direction: column;
}

.hamburger-ingredient-container span {
  width: 100%;
  height: 2.5px;
  background-color: white;
}

.hamburger-ingredient-container span:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger-btn:hover .hamburger-ingredient-container span {
  background-color: var(--color-2);
}

/* Project styles */
.project-card {
  background-color: var(--project-card-background-color);
}

.project-card:not(:last-child) {
  margin-bottom: 40px;
}

.project-card-child {
  display: flex;
  flex-direction: column;

  padding: 20px var(--project-card-side-padding);
}

.project-card-child>*:not(:last-child) {
  margin-bottom: 20px;
}

.project-img-container {
  border-bottom: 3px solid white;
}

/* maybe use this for picture, img combos in general? */
.contained-img-wrapper,
.contained-img {
  display: block;
  width: 100%;
}

.project-desc-container {
  margin-bottom: 20px;
}

.project-desc-container h3 {
  margin: 0 0 22px 0;
  font-size: 20pt;
}

.project-desc-container p {
  margin: 0;
  font-size: 14pt;
  max-width: 550px;
}

/* Project skill markers */
.project-skills-container {
  margin-left: auto;
}

.skill-marker {
  display: inline-block;

  border-radius: 10px;
  padding: 4px 12px;

  background-color: transparent;
  color: white;

  font-family: monospace;
  font-size: 12pt;
}

.skill-marker:not(:first-child) {
  margin-left: 8px;
}

.python-marker {
  /* background-color: rgba(172, 255, 47, 0.84); */
  border: 2px solid greenyellow;
}

.js-marker {
  /* background-color: rgba(255, 166, 0, 0.84); */
  border: 2px solid orange;
}

.sheets-marker {
  /* background-color: rgba(2, 168, 2, 0.84); */
  border: 2px solid rgb(2, 168, 2);
}

/* Project buttons */
.project-action-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-link {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 8px 12px;

  text-decoration: none;

  font-size: 14pt;

  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-link:hover {
  background-color: white;
  color: black;
}

.btn-link:not(:first-child) {
  margin-top: 10px;
}

/* Footer image styles */
.social-icons-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

.social-icons-container li {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

.social-icons-container li:not(:last-child) {
  margin-right: var(--footer-icon-spacing);
}

.social-icon-link {
  height: 40px;
  width: 40px;
}

.social-icon-wrapper,
.social-icon {
  display: block;
  width: 100%;
}

.sidenotes {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .project-card {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* narrow screen breakpoint */
@media (min-width: 768px) {
  address div {
    width: 50%;
    flex-grow: 1;
  }

  address div:first-child {
    border-right: 1px solid white;
  }

  address div:last-child {
    margin-left: 15px;
  }

  .row-narrow {
    flex-direction: row;
  }

  .nav-container {
    justify-content: space-between;
  }

  .ham-btn-container {
    display: none;
  }

  .nav-links-container {
    align-items: center;
  }

  .project-card {
    max-width: 100%;
  }

  .project-desc-container p {
    max-width: 100%;
  }

  .project-card {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 900px) {
  .row-wide {
    flex-direction: row;
  }

  .project-card {
    max-width: 100%;
  }

  .project-card-child {
    width: 50%;
    flex-grow: 1;
  }
}